#html {
	background-color: #fff;
	padding: 60px 30px;
	margin: 0;
}

body {
	padding: 0;
	margin: 0 auto;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	color: #333;
	line-height: 1.6em;
	max-width: 960px;
}

article {
	width: 70%;
	border: 1px solid red;
	float: right;
}

aside {
	width: 20%;
	border: 1px solid green;
	float: left;
}

footer {
	padding-top: 50px;
	clear: both;
}
