---
layout: default
---
<h1 class="post-title">{{ page.title }} </h1>
<div class="time">{{ page.date | date_to_string }}</div>

{{ content }}
<p><a href="https://ko-fi.com/andyw">If you found this post useful, please buy me a coffee!</a></p>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>
